{% extends 'layout/layout.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Create Department' %}{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <form autocomplete="off" method="post" role="form" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <!-- User Information Block -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Add Department</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label class="col-sm-6 control-label">Name</label>
                                    <div class="col-sm-6">{{ form.name }}</div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <button type="submit" class="btn btn-primary center-block">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Block End's -->
        </form>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Departments</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table style="width:100%;" class="table object_listing table-striped table-bordered table-hover" >
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Created BY</th>
                                        <th>Created At</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for department in departments %}
                                        <tr>
                                            <td>{{ department.name|title }}</td>
                                            <td>{{ department.created_by.full_name }}</td>
                                            <td>{{ department.created_at }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Created BY</th>
                                        <th>Created At</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
