<div class="row">
<div class="col-lg-12">
<div class="wrapper wrapper-content animated fadeInUp">
<div class="ibox">
    <div class="ibox-title">
        <h5>Work/Engaged hours by Head for {% now "F o"%}</h5>
    </div>
    <div class="ibox-content">
        <div class="anage-project-listing">
            <table class="table table-hover">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Worked/Engaged (%)</th>
                </tr>
            </thead>

            <tbody>
            {% for row in time_sheet_performance %}
                <tr>
                    <td>
                        <span>{{row.type}}</span>
                    </td>
                    <td class="project-title">
                        <span>{{row.name}}</span>
                        <br/>
                        <small>{{row.comment}}</small>
                    </td>
                    <td>
                        <span>{{row.value|floatformat:2}}</span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
</div>