{% load widget_tweaks %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <div class="panel panel-success">
        <div class="panel-heading">
             Update Record
        </div>
    </div>
</div>

<div class="modal-body">
    <div class="row">
        <form id="employee-portfolio-create-form" action="{% url 'support:employee-portfolio-create'%}" method="POST" role="form" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'layout/horizonal_form_top_label.html' with form=form%}
        </form>
    </div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" id="employee-portfolio-create-save">Save changes</button>
</div>


<script type="text/javascript">
    $('#employee-portfolio-create-form').ajaxForm({success:portfolioCreate});
    $("#id_call_schedule").datetimepicker({
        //defaultDate: new Date(),
        changeMonth: true,
        changeYear: true,
        format:'MM-DD-YYYY hh:mm A',
        autoclose: true,
});
</script>