<div class="table-responsive"><h3>Details of {{ detailed_logs.first.attendance_log.date }}</h3>
    <table style="width:100%;" class="table object_listing table-striped table-bordered table-hover" >
        <thead>
            <tr>
                <th>In Time</th>
                <th>Out Time</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            {% for logs in detailed_logs %}
                <tr style="background-color:{% if logs.type == 'in' %}#1ab394; color:white;{% elif logs.type == 'out' %}white{% elif logs.type == 'miss_punch' %}#ed5565; color:white;{% endif %}">
                    <td>{{ logs.in_time }}</td>
                    <td>{{ logs.out_time }}</td>
                    <td>{{ logs.duration }}</td>
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
</div>